.reminder-list {
  margin-top: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.all-button {
  font-weight: 600;
  color: #4CAF50;
  background: none;
  border: none;
  cursor: pointer;
}

.filter-buttons button {
  margin-right: 8px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #ddd;
}
