.app-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

.add-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  font-size: 28px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0.2);
  transition: background-color 0.3s ease;
}

.add-button:hover{
  background-color: #0056b3;
}

.reminder-header{
  display : flex;
  justify-content:space-between;
  align-items:center;
  padding :0 1rem;
  margin-bottom: 1rem;
}

.reminder-header h2{
    margin: 0;
    font-size: 1.5rem;
}

.reminder-header button{
  padding: 0.5rem 1 rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
}

.reminder-section{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  position: relative;
  overflow: hidden; 
}