.app-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}
/* 
.heading-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
} */

.bottom-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.add-button {
  width: 50px;
  height: 50px;
  font-size: 28px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.reminder-header{
  display : flex;
  justify-content:space-between;
  align-items:center;
  padding :0 1rem;
  margin-bottom: 1rem;
}

.reminder-header h2{
    margin: 0;
    font-size: 1.5rem;
}

.reminder-header button{
  padding: 0.5rem 1 rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
}